In [24]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.3'

In [25]:
base = pd.read_csv('Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv', encoding='utf8')

In [26]:
def suma(x):
    s = 0
    x_str = str(x)
    x_limpia = x_str.replace('.', '')
    for i in x_limpia:
        if i.isdigit():
            s += int(i)
    return s
base.apply(lambda x: suma(x.iat[0]), axis = 1)

0     36
1     43
2     42
3     24
4     27
5     31
6     36
7     37
8     31
9     41
10    31
11    49
12    35
13    31
14    37
15    28
16    38
17    36
dtype: int64

In [27]:
base["n"] =base.apply(lambda x: suma(x.iat[0]), axis = 1)
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF,calificación 3
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5,7238.0,5,7202.0,5,5.0,5
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5,8645.0,5,8602.0,5,5.0,5
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5,8444.0,5,8402.0,5,5.0,5
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5,4826.0,5,4802.0,5,5.0,5
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5,5429.0,5,5402.0,5,5.0,5

In [28]:
def comp(x,y):
    if x == y:
        return 5
    else:
        return 1

In [29]:
def costo(n,x):
    resto = 2*x + 23
    valorc = n*x**2
    resul = resto + valorc
    return resul
base.iloc[:, 1:] = base.iloc[:, 1:].astype(str).replace(',', '.', regex=True).apply(pd.to_numeric, errors='coerce').round(2)
base["Punto 2"] = base.apply(lambda x: (costo(x.iat[4],101)-costo(x.iat[4],100))/1 , axis = 1 )
base["CP2"] = base.apply(lambda x: comp(x.iat[2],x.iat[7]), axis = 1)
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF,calificación 3
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5,7238.0,5,7202.0,5,5.0,5
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5,8645.0,5,8602.0,5,5.0,5
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5,8444.0,5,8402.0,5,5.0,5
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5,4826.0,5,4802.0,5,5.0,5
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5,5429.0,5,5402.0,5,5.0,5

In [30]:
base.iloc[:, 1:] = base.iloc[:, 1:].astype(str).replace(',', '.', regex=True).apply(pd.to_numeric, errors='coerce').round(2)
base["Punto 3"] = base.apply(lambda x: (2 * x.iat[4] * 100)+2,  axis=1).round(2)
base["CP3"] = base["calificación 3"] = base.apply(lambda x: comp(x.iat[3],x.iat[9]), axis = 1) 
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF,calificación 3
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5,7238.0,5,7202.0,5,5.0,5
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5,8645.0,5,8602.0,5,5.0,5
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5,8444.0,5,8402.0,5,5.0,5
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5,4826.0,5,4802.0,5,5.0,5
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5,5429.0,5,5402.0,5,5.0,5

In [31]:
def calificacion_final(c1,c2,c3):
    s = c1+c2+c3
    res = s/3
    return res

In [32]:
base["NF "] = base.apply(lambda x :calificacion_final(x.iat[6],x.iat[8],x.iat[10]), axis = 1)
base

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF,calificación 3
0,1021674384,7382.00,7238.00,7202.00,36,7382.0,5,7238.0,5,7202.0,5,5.000000,5
1,1028481694,8817.00,8645.00,8602.00,43,8817.0,5,8645.0,5,8602.0,5,5.000000,5
2,1012976628,8612.00,8444.00,8402.00,42,8612.0,5,8444.0,5,8402.0,5,5.000000,5
3,1103500518,4922.00,4826.00,4802.00,24,4922.0,5,4826.0,5,4802.0,5,5.000000,5
4,1141316451,5537.00,5429.00,5402.00,27,5537.0,5,5429.0,5,5402.0,5,5.000000,5
5,1127228530,6357.00,6233.00,6202.00,31,6357.0,5,6233.0,5,6202.0,5,5.000000,5
6,1000794960,7382.00,7238.00,2.00,36,7382.0,5,7238.0,5,7202.0,1,3.666667,1
7,1019606644,389866.33,3739.23,7402.00,37,7587.0,1,7439.0,1,7402.0,5,2.333333,5
8,1104224296,6356.60,6233.00,62.00,31,6357.0,1,6233.0,5,6202.0,1,2.333333,1
9,1094049572,8407.00,8243.00,8202.00,41,8407.0,5,8243.0,5,8202.0,5,5.000000,5
10,1025062924,6.36,6.23,6.20,31,6357.0,1,6233.0,1,6202.0,1,1.000000,1
11,1028485597,10047.00,9851.00,2.00,49,10047.0,5,9851.0,5,9802.0,1,3.666667,1
12,1013037578,7177.00,7037.00,7002.00,35,7177.0,5,7037.0,5,7002.0,5,5.000000,5
13,1113364165,6357.00,6233.00,6202.00,31,6357.0,5,6233.0,5,6202.0,5,5.000000,5
14,1140914656,7587.00,7439.00,76.00,37,7587.0,5,7439.0,5,7402.0,1,3.666667,1
15,1011095164,5740.00,5620.00,5600.00,28,5742.0,1,5630.0,1,5602.0,1,1.000000,1
16,1193231792,175.00,152.00,1.00,38,7792.0,1,7640.0,1,7602.0,1,1.000000,1
17,1077228324,7382.00,7238.00,366.82,36,7382.0,5,7238.0,5,7202.0,1,3.666667,1

In [33]:
print(base.columns.tolist())

['Número de documento', 'Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nHallar el costo promedio de producir\xa0 de 100 a 105 unidades (Poner dos decimales)', 'Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nHallar el costo promedio de producir\xa0 de 100 a 101 unidades (Poner dos decimales)\n', 'Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales)', 'n', 'Punto 1', 'CP1', 'Punto 2', 'CP2', 'Punto 3', 'CP3', 'NF ', 'calificación 3']

In [34]:
col = base.pop('CP2')
base.insert(8, 'CP2', col)

In [35]:
col = base.pop('CP3')
base.insert(10, 'CP3', col)

In [36]:
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF,calificación 3
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5,7238.0,5,7202.0,5,5.0,5
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5,8645.0,5,8602.0,5,5.0,5
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5,8444.0,5,8402.0,5,5.0,5
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5,4826.0,5,4802.0,5,5.0,5
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5,5429.0,5,5402.0,5,5.0,5

In [37]:
from funciones import *

In [38]:
desviacion(base, 'CP1')

np.float64(1.8435543958499072)

In [39]:
base.describe()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF,calificación 3
count,1.800000e+01,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,1.069793e+09,27672.793889,6102.470000,4196.445556,35.166667,7211.166667,3.888889,7070.500000,4.111111,7035.333333,3.222222,3.740741,3.222222
std,5.864996e+07,90429.310520,2630.505196,3525.028735,6.242643,1279.741759,1.843554,1254.771188,1.711171,1248.528546,2.045240,1.549006,2.045240
min,1.000795e+09,6.360000,6.230000,1.000000,24.000000,4922.000000,1.000000,4826.000000,1.000000,4802.000000,1.000000,1.000000,1.000000
25%,1.020124e+09,5894.150000,5476.750000,65.500000,31.000000,6357.000000,2.000000,6233.000000,5.000000,6202.000000,1.000000,2.666667,1.000000
50%,1.052857e+09,7279.500000,6635.000000,5501.000000,36.000000,7382.000000,5.000000,7238.000000,5.000000,7202.000000,5.000000,4.333333,5.000000
75%,1.111079e+09,8202.000000,7388.750000,7152.000000,37.750000,7740.750000,5.000000,7589.750000,5.000000,7552.000000,5.000000,5.000000,5.000000
max,1.193232e+09,389866.330000,9851.000000,8602.000000,49.000000,10047.000000,5.000000,9851.000000,5.000000,9802.000000,5.000000,5.000000,5.000000

In [40]:
nombre_original = 'Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv'
base.to_csv(nombre_original, index=False)