In [1]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.3'

In [3]:
def suma(x):
    s = 0
    x_str = str(x)
    x_limpia = x_str.replace('.', '')
    for i in x_limpia:
        if i.isdigit():
            s += int(i)
    return s
base.apply(lambda x: suma(x.iat[0]), axis = 1)

0     36
1     43
2     42
3     24
4     27
5     31
6     36
7     37
8     31
9     41
10    31
11    49
12    35
13    31
14    37
15    28
16    38
17    36
dtype: int64

In [4]:
base["n"] =base.apply(lambda x: suma(x.iat[0]), axis = 1)
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,calificación
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5

In [5]:
def comp(x,y):
    if x == y:
        return 5
    else:
        return 1

In [14]:
def costo(n,x):
    resto = 2*x + 23
    valorc = n*x**2
    resul = resto + valorc
    return resul
base["Punto 2"] = base.apply(lambda x: (costo(x.iat[4],101)-costo(x.iat[4],100))/1 , axis = 1 )
base["calificación 2"] = base.apply(lambda x: comp(x.iat[2],x.iat[7]), axis = 1)
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,calificación,Punto 2,calificación 2
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5,7238.0,5
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5,8645.0,5
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5,8444.0,5
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5,4826.0,5
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5,5429.0,5

In [15]:
nombre_original = 'Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv'
base.to_csv(nombre_original, index=False)