In [9]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.3'

In [10]:
base = pd.read_csv('Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv', encoding='utf8')

In [11]:
def suma(x):
    s = 0
    x_str = str(x)
    x_limpia = x_str.replace('.', '')
    for i in x_limpia:
        if i.isdigit():
            s += int(i)
    return s
base.apply(lambda x: suma(x.iat[0]), axis = 1)

0     36
1     43
2     42
3     24
4     27
5     31
6     36
7     37
8     31
9     41
10    31
11    49
12    35
13    31
14    37
15    28
16    38
17    36
dtype: int64

In [12]:
base["n"] =base.apply(lambda x: suma(x.iat[0]), axis = 1)
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,calificación,Punto 2,calificación 2,Punto 3,calificación 3,Calificicación final
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5,7238.0,5,7202.0,5,5.0
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5,8645.0,5,8602.0,5,5.0
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5,8444.0,5,8402.0,5,5.0
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5,4826.0,5,4802.0,5,5.0
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5,5429.0,5,5402.0,5,5.0

In [13]:
def comp(x,y):
    if x == y:
        return 5
    else:
        return 1

In [18]:
def costo(n,x):
    resto = 2*x + 23
    valorc = n*x**2
    resul = resto + valorc
    return resul
base.iloc[:, 1:] = base.iloc[:, 1:].astype(str).replace(',', '.', regex=True).apply(pd.to_numeric, errors='coerce').round(2)
base["Punto 1"] = base.apply(lambda x: (costo(x.iat[4],105)-costo(x.iat[4],100))/5 , axis = 1 ) #Convierte toso los datos a numeros, primero convierte todo a str temporalmente, despues reemplaza comas por puntos y convierte lo corregido a numerico
base["CP1"] = base.apply(lambda x: comp(x.iat[1],x.iat[5]), axis = 1)
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,Punto 2,calificación 2,Punto 3,calificación 3,Calificicación final,CP1
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,7238.0,5,7202.0,5,5.0,5
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,8645.0,5,8602.0,5,5.0,5
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,8444.0,5,8402.0,5,5.0,5
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,4826.0,5,4802.0,5,5.0,5
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5429.0,5,5402.0,5,5.0,5

In [16]:
del base['calificación']

In [19]:
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,Punto 2,calificación 2,Punto 3,calificación 3,Calificicación final,CP1
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,7238.0,5,7202.0,5,5.0,5
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,8645.0,5,8602.0,5,5.0,5
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,8444.0,5,8402.0,5,5.0,5
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,4826.0,5,4802.0,5,5.0,5
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5429.0,5,5402.0,5,5.0,5

In [20]:
col = base.pop('CP1')
base.insert(6, 'CP1', col)

In [21]:
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,CP1,Punto 2,calificación 2,Punto 3,calificación 3,Calificicación final
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5,7238.0,5,7202.0,5,5.0
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5,8645.0,5,8602.0,5,5.0
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5,8444.0,5,8402.0,5,5.0
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5,4826.0,5,4802.0,5,5.0
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5,5429.0,5,5402.0,5,5.0

In [22]:
nombre_original = 'Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv'
base.to_csv(nombre_original, index=False)