In [10]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.3'

In [11]:
base = pd.read_csv('Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv', encoding='utf8')

In [12]:
def suma(x):
    s = 0
    x_str = str(x)
    x_limpia = x_str.replace('.', '')
    for i in x_limpia:
        if i.isdigit():
            s += int(i)
    return s
base.apply(lambda x: suma(x.iat[0]), axis = 1)

0     36
1     43
2     42
3     24
4     27
5     31
6     36
7     37
8     31
9     41
10    31
11    49
12    35
13    31
14    37
15    28
16    38
17    36
dtype: int64

In [13]:
base["n"] =base.apply(lambda x: suma(x.iat[0]), axis = 1)
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5,7238.0,5,7202.0,5,5.0
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5,8645.0,5,8602.0,5,5.0
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5,8444.0,5,8402.0,5,5.0
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5,4826.0,5,4802.0,5,5.0
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5,5429.0,5,5402.0,5,5.0

In [14]:
def comp(x,y):
    if x == y:
        return 5
    else:
        return 1

In [15]:
def costo(n,x):
    resto = 2*x + 23
    valorc = n*x**2
    resul = resto + valorc
    return resul
base.iloc[:, 1:] = base.iloc[:, 1:].astype(str).replace(',', '.', regex=True).apply(pd.to_numeric, errors='coerce').round(2)
base["Punto 1"] = base.apply(lambda x: (costo(x.iat[4],105)-costo(x.iat[4],100))/5 , axis = 1 ) #Convierte toso los datos a numeros, primero convierte todo a str temporalmente, despues reemplaza comas por puntos y convierte lo corregido a numerico
base["CP1"] = base.apply(lambda x: comp(x.iat[1],x.iat[5]), axis = 1)
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5,7238.0,5,7202.0,5,5.0
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5,8645.0,5,8602.0,5,5.0
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5,8444.0,5,8402.0,5,5.0
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5,4826.0,5,4802.0,5,5.0
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5,5429.0,5,5402.0,5,5.0

In [16]:
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5,7238.0,5,7202.0,5,5.0
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5,8645.0,5,8602.0,5,5.0
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5,8444.0,5,8402.0,5,5.0
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5,4826.0,5,4802.0,5,5.0
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5,5429.0,5,5402.0,5,5.0

In [17]:
col = base.pop('CP1')
base.insert(6, 'CP1', col)

In [18]:
base.head()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5,7238.0,5,7202.0,5,5.0
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5,8645.0,5,8602.0,5,5.0
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5,8444.0,5,8402.0,5,5.0
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5,4826.0,5,4802.0,5,5.0
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5,5429.0,5,5402.0,5,5.0

In [19]:
nombre_original = 'Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv'
base.to_csv(nombre_original, index=False)

In [20]:
from funciones import *

In [22]:
print(base.columns.tolist())

['Número de documento', 'Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nHallar el costo promedio de producir\xa0 de 100 a 105 unidades (Poner dos decimales)', 'Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nHallar el costo promedio de producir\xa0 de 100 a 101 unidades (Poner dos decimales)\n', 'Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales)', 'n', 'Punto 1', 'CP1', 'Punto 2', 'CP2', 'Punto 3', 'CP3', 'NF ']

In [23]:
promedio(base, 'CP1')

np.float64(3.888888888888889)

In [24]:
base.describe()

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF
count,1.800000e+01,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,1.069793e+09,27672.793889,6102.470000,4196.445556,35.166667,7211.166667,3.888889,7070.500000,4.111111,7035.333333,3.222222,3.741111
std,5.864996e+07,90429.310520,2630.505196,3525.028735,6.242643,1279.741759,1.843554,1254.771188,1.711171,1248.528546,2.045240,1.549326
min,1.000795e+09,6.360000,6.230000,1.000000,24.000000,4922.000000,1.000000,4826.000000,1.000000,4802.000000,1.000000,1.000000
25%,1.020124e+09,5894.150000,5476.750000,65.500000,31.000000,6357.000000,2.000000,6233.000000,5.000000,6202.000000,1.000000,2.665000
50%,1.052857e+09,7279.500000,6635.000000,5501.000000,36.000000,7382.000000,5.000000,7238.000000,5.000000,7202.000000,5.000000,4.335000
75%,1.111079e+09,8202.000000,7388.750000,7152.000000,37.750000,7740.750000,5.000000,7589.750000,5.000000,7552.000000,5.000000,5.000000
max,1.193232e+09,389866.330000,9851.000000,8602.000000,49.000000,10047.000000,5.000000,9851.000000,5.000000,9802.000000,5.000000,5.000000