In [1]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.3'

In [2]:
base = pd.read_csv('test.csv', encoding='utf8')

In [4]:
print(base.columns.tolist())

['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [7]:
base.groupby('Pclass')['PassengerId'].count()

Pclass
1    107
2     93
3    218
Name: PassengerId, dtype: int64